:root {
  --primary-color: #00bfff;
  --secondary-color: #c6e2fa;
  --background-color: #f8f9fa;
  --text-color: #333538;
  --border-radius: 0.25rem;
  --transition-speed: 0.3s
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

header {
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem;
  text-align: center;
  font-size: 1rem;
}

.container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.total-points {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--primary-color);
}

.monthly-points {
  font-size: 1rem;
  color: var(--secondary-color);
}


